h1 {
  font-weight: 800;
  color: rgb(84, 88, 203);
}

h5 {
  margin-bottom: 1.5rem;
}

.section {
  background-color: rgb(84, 88, 203);
}

.btn-primary {
  background-color: rgb(84, 88, 203);
  border-color: rgb(84, 88, 203);
}

.content {
  width: 350px;
}
